:root {
    --background: #bd4af6;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #36de7f;
    --btn: #dedede;
    --btn-hover: #898989;
    --btn-active: #ccc;
    --btn-red: #ff3333;
    --btn-red-hover: #f78282;
    --btn-red-active: #ff3333;
    --btn-blue: #3c73ff;
    --btn-blue-hover: #59a8fd;
    --btn-blue-active: #3c73ff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    margin-top: 50px;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
}

.screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-previous {
    min-height: 32px;
    font-size: 20px;
}
.screen-current {
    min-height: 32px;
    font-size: 40px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.span-2 {
    grid-column: span 2;
}

.btn {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}
.btn-red {
    background-color: var(--btn-red);
}

.btn-red:hover {
    background-color: var(--btn-red-hover);
}

.btn-red:active {
    background-color: var(--btn-red-active);
}

.btn-blue {
    background-color: var(--btn-blue);
}

.btn-blue:hover {
    background-color: var(--btn-blue-hover);
}

.btn-blue:active {
    background-color: var(--btn-blue-active);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}